<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index</welcome-file>

    </welcome-file-list>
    <servlet>
        <servlet-name>Init</servlet-name>
        <servlet-class>com.coursefacile.controller.Init</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Init</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>prefixPath</param-name>
        <param-value>/coursefacile</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginRegister</servlet-name>
        <servlet-class>com.coursefacile.controller.LoginRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRegister</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyMail</servlet-name>
        <servlet-class>com.coursefacile.controller.VerifyMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyMail</servlet-name>
        <url-pattern>/verifymail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RecoverPassword</servlet-name>
        <servlet-class>com.coursefacile.controller.RecoverPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecoverPassword</servlet-name>
        <url-pattern>/recoverpassword</url-pattern>
    </servlet-mapping>
</web-app>