<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Init</servlet-name>
        <servlet-class>com.coursefacile.controller.Init</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Init</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>prefixPath</param-name>
        <param-value>/coursefacile</param-value>
    </context-param>
    <servlet>
        <servlet-name>MissionListing</servlet-name>
        <servlet-class>com.coursefacile.controller.MissionListing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MissionListing</servlet-name>
        <url-pattern>/missions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginRegister</servlet-name>
        <servlet-class>com.coursefacile.controller.LoginRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRegister</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyMail</servlet-name>
        <servlet-class>com.coursefacile.controller.VerifyMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyMail</servlet-name>
        <url-pattern>/verifymail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.coursefacile.controller.ProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RecoverPassword</servlet-name>
        <servlet-class>com.coursefacile.controller.RecoverPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecoverPassword</servlet-name>
        <url-pattern>/recoverpassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.coursefacile.controller.Dashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PublishMission</servlet-name>
        <servlet-class>com.coursefacile.controller.PublishMission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublishMission</servlet-name>
        <url-pattern>/Publish-Mission</url-pattern>
    </servlet-mapping>
</web-app>
